body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .container {
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .add-meal, .search-meal {
    margin-bottom: 10px;
  }
  
  #mealList {
    text-align: left;
  }
  
  .meal {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
  }
  
  .meal:last-child {
    border: none;
  }